/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/td
.idea/
/doc
tdlib-json-wrapper.iml
src/main.tdlib_json_clojure_wrapper/tg_connector/build
*.log
*.binlog
tg-db